body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #302f2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assets/img/pexels-pixabay-531756.jpg") ;
  background-repeat : no-repeat;
  background-size: cover;
  

  

}


.app-container {
 
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  
}

.app-title {
  font-size: 40px;
  margin-bottom: 27px;
  text-align: center;
 
}

.input-container {

  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

.search-button {
  position: absolute;
  right: 0.1px;
height: 46px;
  cursor: pointer;
  border-radius: 1px 8px 8px 1px;
  -webkit-border-radius: 1px 8px 8px 1px;
  -moz-border-radius: 1px 8px 8px 1px;
  -ms-border-radius: 1px 8px 8px 1px;
  -o-border-radius: 1px 8px 8px 1px;
}
.search-button:hover {
  background-color: #d1cccc;
}

.location-input {
  font-size: 12pt;
  padding: 14px;
  width: 95%;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.location {
  text-align: center;
  font-size: 23pt !important;
}

.weather-container {
  display: flex;
  justify-content: center;
}

.day-container {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 4px 4px;
  text-align: center;
}
